<mat-nav-list>
  <a mat-list-item routerLink="/first-page">First Page</a>
</mat-nav-list>

<button mat-raised-button>Hello {{title}}</button>

<!--typograpy: deals with style and appearnace of text-->
<div class="mat-display-4">This is typography</div>
<div class="mat-display-3">This is typography</div>
<div class="mat-display-2">This is typography</div>
<div class="mat-display-1">This is typography</div>

<div class="mat-headline">This is headline</div>
<div class="mat-title">This is title</div>
<div class="mat-subheading-2">This is subheading-2</div>
<div class="mat-subheading-1">This is subheading-1</div>

<div class="mat-body-1">This is body text</div>
<div class="mat-body-2">This is bold body text</div>
<div class="mat-caption">This is caption</div>

<div class="mat-typography">
  <h1>This is heading for h1</h1>
  <h2>This is heading for h2</h2>
  <h3>This is heading for h3</h3>
  <h4>This is heading for h4</h4>
</div>

<router-outlet></router-outlet>